<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.cicese.sensit"
    android:versionCode="3"
    android:versionName="1.2">

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="16" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <!--<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />-->
    <!--<uses-permission android:name="android.permission.BLUETOOTH" />-->
    <!--<uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />-->

    <application
        android:label="@string/app_name"
        android:icon="@drawable/icon"
        android:theme="@android:style/Theme.Light">
        <activity
            android:name=".SensitActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:screenOrientation="portrait"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SurveyActivity"
            android:launchMode="singleTask"
            android:taskAffinity=""
            android:excludeFromRecents="true">
        </activity>

        <!--<activity
            android:name=".SurveyActivity"
            android:parentActivityName=".SensitActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SensitActivity" />
        </activity>-->

        <receiver android:name=".OnBootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <!--<receiver android:name=".OnSensingAlarmReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>-->

        <!--<receiver android:name=".dataSyncReceiver">
            <intent-filter android:priority="1">
                <action android:name="edu.cicese.sensit.DATA_SYNCED" />
            </intent-filter>
        </receiver>

        <receiver android:name="edu.cicese.sensit.SensitActivityty.uiRefreshReceiver">
            <intent-filter android:priority="2">
                <action android:name="edu.cicese.sensit.DATA_SYNCED" />
            </intent-filter>
        </receiver>-->

        <service
            android:name=".SensingService"
            android:launchMode="singleInstance"
            android:exported="false">
            <intent-filter>
                <action android:name="edu.cicese.sensit.SENSING_START_ACTION" />
                <action android:name="edu.cicese.sensit.SENSING_STOP_ACTION" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>

    </application>
</manifest>
